# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
.env.prod
.env.production
!.env.prod.example

# prisma
apps/api/prisma/migrations/dev.db*

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# capacitor native
apps/client/ios/App/Pods/
apps/client/android/.gradle/
apps/client/android/app/build/

# docker volumes (local)
.docker-data/

# coverage
coverage/
